.copy-rights {
  padding-top: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  p {
    margin-bottom: 0px;
    color: rgba(16, 9, 66, 0.7);
  }
}
