.bg-image {
  background-image: url("../../assets/image/Group.png");
  background-repeat: no-repeat;

  background-position: center;
  background-size: 100% 100%;
  // background-size: cover;
  // min-height: 100vh;
  z-index: 0;
}
