.represent-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 239px;
  .title {
    display: flex;
    h2 {
      color: #100942;
      font-size: 1.5rem;
      line-height: 41px;
      text-align: center;
    }
  }

  .all-represents .row {
    > * {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    &::before {
      content: "";
      background-image: url("../../assets/image/pattern2.png");
      width: 100%;
      position: absolute;
      height: 112px;
      background-repeat: no-repeat;
      background-size: contain;
      z-index: -10;
      top: 50%;
      transform: translateY(-50%);
    }
    .first-row {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 43px;
      transform: translateY(20px);
      div {
        img {
          width: 100%;
          filter: grayscale(100%);
          transition: 200ms ease-in;
          &:hover {
            filter: grayscale(0%);
          }
        }
      }
    }

    .second-row {
      padding-top: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 50px;
      transform: translateY(-20px);
      div {
        img {
          width: 100%;
          filter: grayscale(100%);
          transition: 200ms ease-in;
          &:hover {
            filter: grayscale(0%);
          }
        }
      }
    }

    .first-row,
    .second-row {
      div {
        width: 18%;
        max-width: 190px;
        img {
          mix-blend-mode: difference;
          max-width: 100%;
          height: auto;
        }
      }
    }
  }
}
